<ion-list class="pets-filters">
  <ion-radio-group value="All">
    <ion-item (click)="setFilter(filters.ALL)">
      <ion-label>All</ion-label>
      <ion-radio> slot="start"</ion-radio>
    </ion-item>    
    <ion-item (click)="setFilter(filters.DOGS)">
      <ion-label>Dogs</ion-label>
      <ion-radio > slot="start"</ion-radio>
    </ion-item>
    <ion-item (click)="setFilter(filters.CATS)">
      <ion-label>Cats</ion-label>
      <ion-radio> slot="start"</ion-radio>
    </ion-item>
    <ion-item (click)="setFilter(filters.BIRDS)">
      <ion-label>Birds</ion-label>
      <ion-radio> slot="start"</ion-radio>
    </ion-item>
    <ion-item (click)="setFilter(filters.AMPHIBIANS)">
      <ion-label>Amphibians</ion-label>
      <ion-radio>slot="start"</ion-radio>
    </ion-item>
  </ion-radio-group>