<ion-header>
  <ion-toolbar color = 'primary'>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back">          
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{mode === manageModes.ADD ? 'Add Pet' : 'Edit Pet'}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="manage-pet">
  <form [formGroup]="petForm" (submit)="formSubmit()">
  <ion-list>
    <ion-item>
      <ion-label position="floating" color="secondary">
        Name:
      </ion-label>
      <ion-input required="true" formControlName="name"  placeholder="Enter Pet Name" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="secondary">
      Species
      </ion-label >
      <!-- <ion-input formControlName="species"></ion-input>
    </ion-item>
    <ion-item> -->
      <ion-radio-group  formControlName="species" required="true">
        <ion-item>
          <ion-label>Bird</ion-label>
          <ion-radio value="bird"></ion-radio>
        </ion-item>  
        <ion-item>
          <ion-label>Cat</ion-label>
          <ion-radio value="cat"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Dog</ion-label>
          <ion-radio value="dog"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Amphibian</ion-label>
          <ion-radio value="amphibian"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item> 
      <ion-label>
        Birthday
      </ion-label>
      <ion-datetime formControlName="birthday" display-format="MM DD YY" placeholder="Select Date"></ion-datetime>
      <ion-label>
        Date Adopted
      </ion-label>
      <ion-datetime formControlName="adopted" display-format="MM DD YY" placeholder="Select Date"></ion-datetime>
    <ion-item>
      <ion-label>
        Breed
      </ion-label>
      <ion-input formControlName="breed" placeholder="Enter Breed">
      </ion-input>
    </ion-item> 
    <ion-item>
      <ion-label>
        Color
      </ion-label>
      <ion-input formControlName="color" placeholder="Enter Color">
      </ion-input>
    </ion-item> 
    <ion-item>
      <ion-label>
        Markings
      </ion-label>
      <ion-textarea rows="2" formControlName="description" placeholder="Enter unusual markings">
      </ion-textarea>
    </ion-item> 
    <ion-item>
      <ion-label>
        Sex
      </ion-label>
      <ion-radio-group color="secondary" formControlName="sex">
        <ion-item>
          <ion-label>Female</ion-label>
          <ion-radio value="Female"></ion-radio>
        </ion-item>  
        <ion-item>
          <ion-label>Male</ion-label>
          <ion-radio value="Male"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item> 
    <ion-label>
      Altered?
    </ion-label>
    <ion-radio-group color="secondary" formControlName="altered">
      <ion-item>
        <ion-label>Yes</ion-label>
        <ion-radio value="Yes"></ion-radio>
      </ion-item>  
      <ion-item>
        <ion-label>No</ion-label>
        <ion-radio value="No"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-item>
      <ion-label position="stacked">
        Microchipped?
      </ion-label>
      <ion-radio-group color="secondary" formControlName="microchipped">
        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio value="Yes"></ion-radio>
        </ion-item>  
        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio value="No"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item> 
    <!-- </ion-item>  -->
    <ion-item (click)="takePicture()">
      <ion-label position="stacked">
        Photo
      </ion-label>
      <ion-thumbnail *ngIf="petImage" slot="end">
        <img alt="image of your pet" [src]="petImage" >
      </ion-thumbnail>
      <ion-icon *ngIf="!petImage" slot="end" name="camera"></ion-icon>
    </ion-item> 
    <ion-button type="submit" expand="block" fill="outline">
      Save
    </ion-button>
  </ion-list>
</form>
</ion-content>


