<ion-header>
  <ion-toolbar color = 'primary'>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back">          
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{mode === manageModes.ADD ? 'Add Photo' : 'Edit Photo'}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="manage-photo">
  <form [formGroup]="photoForm" (submit)="formSubmit()">
  <ion-list>
    <ion-item line="full">
      <ion-label position="stacked" color="secondary">
        Name:
      </ion-label>
      <ion-input required="true" formControlName="name"  placeholder="Enter Photo Name" ></ion-input>
    </ion-item>
    <ion-item line="full">
      <ion-label position="stacked" color="secondary">
      Description
      </ion-label >
      <ion-input required="true" formControlName="description"  placeholder="Photo Description" >
        </ion-input>
      <ion-item line="full">
      <ion-label position="stacked" color="secondary">
        Date
      </ion-label>
      <ion-datetime formControlName="date" display-format="MM DD YY" placeholder="Select Date">
        </ion-datetime>
      </ion-item> 
    <ion-item (click)="takePicture()">
      <ion-label position="stacked">
        <ion-icon name="camera"></ion-icon>
      </ion-label>
      <ion-thumbnail *ngIf="photo.imagePath" slot="end">
        <img alt="image of your pet" [src]="photo.imagePath" >
      </ion-thumbnail>
      <ion-icon *ngIf="!photo.imagePath" slot="end" name="camera"></ion-icon>
    </ion-item> 
    <ion-button type="submit" expand="block" fill="outline">

    </ion-button>






