<ion-header>
  <ion-toolbar color = 'primary'>
    <ion-title>Photo Album</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-icon name="funnel" (click)="showFilters($event)"></ion-icon>
    </ion-buttons> -->
   </ion-toolbar> 
</ion-header> 

<ion-content class="photo">
  <ion-list *mobxAutorun class="home__photos">
    <ion-card [class.home__vets__item--archived]="!!photo.archived" class="home__photos__item" *ngFor='let photo of photoStore.photos'>
      <!-- <ion-card [class.home__photos__item--archived]="!!photo.archived" class="home__vets__item" *ngFor='let vet of photoStore.filteredPhotos'> -->
   
      <ion-card-header>
        <ion-card-title>{{photo.name}}</ion-card-title>
        <ion-card-subtitle>{{photo.description}}</ion-card-subtitle>
      </ion-card-header>    
      <ion-card-content class="home__vets__item__description">
        <p>Date: {{photo.date}}</p>
         <p> {{photo.imagePath}}</p>
        <div class="home__photos__item__actions">
           <ion-button (click)="archivePhoto(photo)" color="tertiary" >
            <ion-icon name="archive">              
            </ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list> 
  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color='secondary' (click)='createPhoto()'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
