<ion-header>
  <ion-toolbar color = 'primary'>
    <ion-title>Photo Albums</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="album" *ngFor='let photo of photoService.photos'>
  <ion-list *mobxAutorun class="home__albums" >
    <ion-label><p>Name: {{photo.name }}</ion-label>
        <ion-label><p>Date: {{photo.date }}</ion-label>
          <ion-label><p>Date: {{photo.date}}</p></ion-label>  
          <ion-label><p>Description: {{photo.description}}</p></ion-label>
          <ion-label><p>Image: {{photo.imagePath}}</p></ion-label>
    </ion-list>
        <!-- <div class="home__photos__item__actions">
          <ion-button (click)="createPhoto()" color="dark" >
            <ion-icon name="create">
            </ion-icon>
          </ion-button>
          <ion-button (click)="archivePhoto(photo)" color="tertiary" >
            <ion-icon name="archive">              
            </ion-icon>
          </ion-button>
          </div> -->
  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color='secondary' (click)='createPhoto()'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>



  

