<ion-header>
  <ion-toolbar color = 'primary'>
    <ion-title>Pets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home">
  <ion-list *mobxAutorun class="home__pets">
    <ion-card [class.home__notes__item--archived]="!!pet.archived" class="home__pets__item" *ngFor='let pet of store.pets'>
      <ion-card-header>
        <ion-card-title>{{pet.name}}</ion-card-title>
      </ion-card-header>    
      <ion-card-content class="home__pets__item__description">
        <p>{{pet.species}}</p>
        <p>{{pet.birthday}}</p>
        <p>{{pet.breed}}</p>
        <p>{{pet.color}}</p>   
        <p>{{pet.description}}</p>
        <p>{{pet.adopted}}</p> 
        <p>{{pet.gender}}</p>
        <p>{{pet.altered}}</p>
        <p>{{pet.microchipped}}</p>
        <div class="home__pets__item__actions">
          <ion-button (click)="editPet(pet)" color="dark" fill="outline">
            <ion-icon name="create">
            </ion-icon>
          </ion-button>
          <ion-button (click)="archivePet(pet)" color="danger" fill="outline">
            <ion-icon name="trash">              
            </ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list> 
  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color='secondary' (click)='createPet()'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

